extends /base.pug

append stylesheets
  link( rel = 'stylesheet', href = `/css/game.css`)

append content
  section.main__scoreboard
    p.main__scoreboard--scoreLabel.main__scoreboard--label Score
    p.main__scoreboard--score.main__scoreboard--data( align = 'center' )= '0'
    p.main__scoreboard--quizLabel.main__scoreboard--label Question
    p.main__scoreboard--quiz.main__scoreboard--data( align = 'center' )
    p.main__scoreboard--timerLabel.main__scoreboard--label Time
    p.main__scoreboard--timer.main__scoreboard--data( align = 'center' )
  div#main__canvas(style="font-family:'FontAwesome'")

append scripts
  script( src = 'https://unpkg.com/konva@3.2.7/konva.min.js' )
  script( src = '/socket.io/socket.io.js' )
  script( type = 'module', src = `/js/${ mainFile }.js` )
