extends /base.pug
append stylesheets
  link( rel = 'stylesheet', href = `/css/lobby.css`)
append content
  //- a.main__room.main__room--tutorial( href = '/tutorial' )
  //-   p.room__brief.room__brief--name Tutorial
  button.main__room.main__room--create
    p.room__brief.room__brief--name +
  section.main__details
    section.main__datails--container
      p.main__datails--roomname Room 1
      section.main__datails--team.main__datails--team1
        p.datails__team--teamname.datails__team1--teamname Team 1
        section.datails__team--players.datails__team1--players
          //- button.datails__team--player.datails__team1--player.datails__team--join.datails__team1--join Join
      section.main__datails--team.main__datails--team2
        p.datails__team--teamname.datails__team2--teamname Team 2
        section.datails__team--players.datails__team2--players
          //- button.datails__team--player.datails__team--join.datails__team2--player.datails__team2--join Join
      section.main__datails--button
        button.datails__button.datails__button--cancel Cancel
        //- button.datails__button.datails__button--ready Ready
        button.datails__button.datails__button--start Start!
append scripts
  script( src = '/socket.io/socket.io.js' )
  script( src = `/js/lobby.js` )
