extends /base.pug

append stylesheets
  link( rel = 'stylesheet', href = `${ staticUrl }/css/lobby.css`)

append content
    p= `Welcome, ${ username }!`

append scripts
  script( src = `${ staticUrl }/js/lobby.js` )