extends /base.pug

append stylesheets
  link( rel = 'stylesheet', href = `/css/summary.css`)

append content
  section.main__summary
    p.main__summary--title( align = 'center' ) Summary
    p.main__score.main__score--team1( align = 'center' ) 124532
    p.main__score.main__score--team2( align = 'center' ) 24124
    p.main__winner( align = 'center' ) Red team win!
    button.main__ok ok

append scripts
  script( src = `/js/summary.js` )
